{{#each films}}
<div class="card">
  <a href="#" target="_blank" class="aTitle"><h1 class="title">{{title}}</h1></a>
  <a href="#" target="_blank" class="image"><img src="http://image.tmdb.org/t/p/w500/{{poster_path}}" alt=""></a>
  <p class="vote">{{vote_average}}</p>
  <p class="date">{{release_date}}</p>
</div>
{{/each}}